body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    ;
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
}
  .menu-button{
    background-color: rgb(5, 116, 244);
    color: black;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border: 5px solid orange;
    font-weight: 700;
  }
  .right-menu{
    position: relative;
    display: inline-block;
    float:left;
  }
  .dropdown-menu{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 158px;
    z-index: 1;
  }
  .dropdown-menu a:hover{
    background-color: black;
    color: white;
  }
  .right-menu:hover .dropdown-menu{
    display: block;
  }
  .right-menu:hover .dropdown-button{
    background-color: purple;
  }

